<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CFDIgen.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <CFDIgen.My.MySettings>
            <setting name="CFDIgen_LicenciasSAF_Service" serializeAs="String">
                <value>http://66.226.75.13/Licencias/Service1.asmx</value>
            </setting>
            <setting name="CFDIgen_com_sedeb2b_cfdiws_CFDiService" serializeAs="String">
                <value>https://cfdiws.sedeb2b.com/EdiwinWS/services/CFDi</value>
            </setting>
            <setting name="CFDIgen_Finkok_StampSOAP" serializeAs="String">
                <value>https://facturacion.finkok.com/servicios/soap/stamp</value>
            </setting>
            <setting name="CFDIgen_CancelacionDemoFinkok_CancelSOAP" serializeAs="String">
                <value>https://demo-facturacion.finkok.com/servicios/soap/cancel</value>
            </setting>
            <setting name="CFDIgen_CancelacionFinkok_CancelSOAP" serializeAs="String">
                <value>https://facturacion.finkok.com/servicios/soap/cancel</value>
            </setting>
        </CFDIgen.My.MySettings>
    </applicationSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
